
body {
	--radius-s: 12px;
	--radius-m: 12px;
	--radius-l: 12px;
	--input-radius: 16px;
	--tab-radius-active: 8px;
	--checkbox-radius: 16px;
	--toggle-radius: 16px;
	--toggle-thumb-radius: 16px;
	--slider-thumb-radius: 16px;

	--tag-decoration:                 none;
    --tag-decoration-hover:           underline;
    --tag-padding-x:                  .5em;
    --tag-padding-y:                  .2em;
    --tag-radius:                     .5em;


}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-dark {

  --background-primary: rgb(32, 31, 28);
  --background-secondary: #2c291f;

  --text-normal: rgb(249, 252, 250);
  --text-faint:  rgb(136, 190, 203);
  --text-muted:  rgb(149, 203, 136);
  --text-selection: #0e665f;

  --h1-color: rgba(134, 51, 12, 0.89);  
  --h2-color: rgba(134, 77, 12, 0.89); 
  --h3-color: #b49b49;                     
  --h4-color: #b49b49;                        
  --h5-color: #b49b49;                     
  --h6-color: #a7ccdf63;       
  
  --icon-color-hover:  #c40909;
  --icon-color-focused: #c40909;
}

.theme-light {
  --background-primary:  rgb(174, 151, 142);
  --background-secondary: rgb(184, 171, 142);

  --text-normal: rgb(20, 22, 22);
  --text-faint:  rgb(40, 52, 52);
  --text-muted:  rgb(40, 52, 52);
  --text-selection: #d19e12;

  --h1-color: #52260b;
  --h2-color: #521003;                     
  --h3-color: #0b2052;                     
  --h4-color: #36a4dbbe;                     
  --h5-color: #36a4db6e;                     
  --h6-color: #36a4db18;                     

  --icon-color-hover:  #c40909;
  --icon-color-focused: #c40909;

}
